@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-blue: #131D47;
  --color-light-blue: #9AECED;
  --color-white: #F1F1F1;
  --color-black: #000000;
  --color-error: #f44336;
  --color-background: #131D47;
  --color-text: #F1F1F1;
  --color-tint: #9AECED;
  --color-icon: #F1F1F1;
  --color-tab-icon-default: #F1F1F1;
  --color-tab-icon-selected: #9AECED;
  --color-border: #000000;

  --foreground-rgb: #F1F1F1;
  --background-start-rgb: #131D47;
  --background-end-rgb: #131D47;
  --color-gradient-start: #1e3a8a; /* Azul oscuro */
  --color-gradient-end: #000000; /* Negro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #F1F1F1;
    --background-start-rgb: #000000;
    --background-end-rgb: #131D47;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

/* Aplica los colores a otros elementos de la página */
header {
  background-color: var(--color-dark-blue);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-text);
  color: inherit;
  text-align: center;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
  color: var(--color-light-blue);
}

button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 8px;
}

button:hover {
  background-color: var(--color-black);
  color: var(--color-text);
}

footer {
  background-color: var(--color-dark-blue);
  color: var(--color-text);
}

nav {
  border-bottom: 1px solid var(--color-white);
  border-radius: 0;
  position: static;
}